:root {
	--naranja: #b6743f;
	--fondo: #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--naranja);
	font-size: 40px;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

.oculto {
    display: none;
}

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/FONDOES.jpeg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
	/*position: relative;*/
	height: 100vh; /* Hace que la sección ocupe el 100% de la altura de la ventana */
    overflow: hidden;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

#video-fondo {
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: rgb(146, 96, 4);
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	vertical-align: top;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}
}


/* Estilos para el boton ir arriba */
.ir-arriba {
	display:none;
	padding:20px;
	background:#302f2e;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
  z-index: 999; /* asegurar que el botón esté por encima de otros elementos */
}
.ir-arriba:hover {
  background: #555757;
}


/* sombreado al texto de las clases "titulo" y "descripcion"*/
.titulo, .descripcion {
    text-shadow: 2px 2px 4px black;
	
}


/* diseño pagina actualidad paranormal flexbox"*/
  
  .cont {
	display: flex;
	flex-wrap: wrap;
  }
  
  .columna {
	flex: 1;
	margin: 10px;
	min-height: 100px; /* Ajusta la altura según tus necesidades */
	background-color: #f0f0f0;
	border: 2px solid #ccc; /* Añade un borde sólido */
	border-radius: 8px; /* Añade esquinas redondeadas */
	overflow: hidden; /* Evita que el contenido sobresalga del borde */
  }
  
  .grande {
	flex-basis: 100%; /* Ocupa dos filas */
  }
  
  @media (min-width: 768px) {
	.columna {
	  flex-basis: calc(33.333% - 20px); /* Distribuir en tres columnas con margen */
	}
  }


  /* ESTILOS DE LA PAGINA: actualidad.php*/
  /* estructura de pagina*/
  .angry-grid {
	display: grid; 
 
	grid-template-rows: 60px 70px 600px 100px 600px 100px 300px;
	grid-template-columns: auto;
	
	gap: 0px;
	height: 100%;
	
 }
   
 #item-0 {
 
	background-color: white; 
	grid-row-start: 3;
	grid-column-start: 1;
 
	grid-row-end: 4;
	grid-column-end: 2;
	
 }
 #item-1 {
 
	 background-color: #f9fbfd; 
	grid-row-start: 1;
	grid-column-start: 1;
 
	grid-row-end: 3;
	grid-column-end: 2;
	
 }
 #item-2 {
 
	 background-color: white; 
	grid-row-start: 4;
	grid-column-start: 1;
 
	grid-row-end: 5;
	grid-column-end: 2;
	border: 6px solid #f7f5f5;
 }
 #item-3 {
 
	 background-color: white; 
	grid-row-start: 5;
	grid-column-start: 1;
 
	grid-row-end: 6;
	grid-column-end: 2;
	
 }
 #item-4 {
 
	background-color: white; 
	grid-row-start: 6;
	grid-column-start: 1;
 
	grid-row-end: 7;
	grid-column-end: 2;
	
 }
 #item-5 {
 
	background-color:wheat; 
	grid-row-start: 7;
	grid-column-start: 1;
 
	grid-row-end: 8;
	grid-column-end: 2;	
 }


 /* Bloque 1 -----------------------------------------------------------------------*/

 .contenedor-actualidad {
    display: flex;
    
    justify-content: space-around;
}

.act1 {
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/headeryoutube.png);
    background-repeat: repeat;
    flex: 1; /* Hace que ocupe la mitad del contenedor */
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 20px; /* Agrega espacio a ambos lados */
    position: relative; /* Permite posicionar el título de manera absoluta */
	
}

.tituloact {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: white;
    font-size: 5em;
    text-shadow: 4px 4px 8px black;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 4px black;
    padding: 10px;
    background: none;
    opacity: 0; /* Inicialmente establece la opacidad a cero */
    animation: zoomIn 6s forwards; /* Agrega la animación */
	
}
/* Configuración de la animación */
@keyframes zoomIn {
	from {
		transform: translate(-50%, -50%) scale(0.5);
		opacity: 0;
	}
	to {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
}

/* Bloque 2 -----------------------------------------------------------------------*/
.angry-grid-2 {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(11, 1fr);
    gap: 20px; /* Agrega un espacio entre los elementos */
    height: 100%;
	padding: 25px;
}

.item{
    background-color: white; /* Color predeterminado para los elementos */
    align-items: center;
    justify-content: center;
	font-family:Arial, Helvetica, sans-serif ;	
    font-weight: normal;
	font-size: 1em;
    text-align:justify;
    margin: 0;
}

#item-10 {
    grid-row: span 5; /* Ocupa 5 filas */
    grid-column: span 5; /* Ocupa 5 columnas */
    background-color: white; /* Color específico para este elemento */
}

#item-11 {
    grid-row: span 3; /* Ocupa 3 filas */
    grid-column: span 3; /* Ocupa 3 columnas */
    background-color: white;
}

#item-12 {
    grid-row: span 3; /* Ocupa 3 filas */
    grid-column: span 3; /* Ocupa 3 columnas */
    background-color: white;
}

#item-13 {
    grid-row: span 3; /* Ocupa 3 filas */
    grid-column: span 3; /* Ocupa 3 columnas */
    background-color: white;
}

#item-14 {
    grid-row: span 3; /* Ocupa 3 filas */
    grid-column: span 3; /* Ocupa 3 columnas */
    background-color: white;
}

.item img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    border: 5px solid #333; /* Borde sólido con color negro */
    box-shadow: 2px 2px 5px #888; /* Sombra alrededor del borde */
	height: 50%; /* Ajusta la altura de la imagen al 50% del contenedor */
}


/* Bloque 2 -----------------------------------------------------------------------*/
.angry-grid-3 img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
	height: auto;
   	padding: 20px;
}


/* footer ------------------------------------------------------------------------------*/

.footer-style {
	background: hsla(33, 79%, 57%, 1);
	background: linear-gradient(90deg, var(--naranja) 0%, hsla(0, 0%, 0%, 1) 29%);
	background: -moz-linear-gradient(90deg, var(--naranja) 0%, hsla(0, 0%, 0%, 1) 29%);
	background: -webkit-linear-gradient(90deg, var(--naranja) 0%, hsla(0, 0%, 0%, 1) 29%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E89B3C", endColorstr="#010101", GradientType=1 );

    padding: 20px 0;
    color: #d4d4d4;
    font-family: 'Bebas Neue';
	font-size: 20px;
    text-align: center;
}

footer h3 {
    margin-bottom: 30px;
    font-weight:500 ;
}

.footer-col {
    margin-bottom: 50px;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-icons .btn-social {
    margin: 0 10px;
    background-color: #696565;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-icons .btn-social img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.social-icons .btn-social:hover {
    background-color: #e0dbdb;
    color: #fff;
    transform: scale(1.1); /* Agrandar al pasar el cursor */
}
